.titleInfo{
    text-shadow: 2px 2px 5px green;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;  
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

  }
  
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
  
#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

.thTitulo {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.list-group{
  overflow-y: scroll;
  margin-top: 1%;
  width: auto;
  height: auto;
  margin: 2%;
  text-align: center;
  color: black;
  background-color: white;
  max-height: 18vh;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #00c850ad 100%);
  background-image: linear-gradient(120deg, #f6d365 0%, #00c850ad 100%);
}

.scrollbar-success {
  scrollbar-color: #00C851 #F5F5F5;
}

.table-ranking{
  overflow-y: auto;
  max-height: 69vh;
  margin-bottom: 70px;
}
.table-info{
  margin-bottom: 70px;
}

.encabezado{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6da4;
  color: white;  
}

.searchPunctuation{
  width: 33%;
}