.form-container {
    padding-top: 30px;
    width: 300px;
    margin: auto;
  }
  
  .form-input {
    padding: 5px 15px;
    width: 300px;
  }
  
  .form-user-list {
    margin: auto;
    overflow-y: scroll;
    height: 200px;
  }
  
  .form-user {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .form-user-id {
    color: red;
    margin-right: 20px;
  }
  
  .form-user-name {
    color: blue;
    margin-left:auto;
  }
  


  .form-search-boton {
    margin-top: 5px;
    width: 150px;
    padding: 10px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border:blanchedalmond;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: #00471b;
    color: #fff;
    text-transform: capitalize;
  }

.form-close-boton{
  top: 45px;
  right: 5px;
  position: absolute;
  cursor:pointer;
  border: red;
  color:white;
  border-radius: 5px;
  background-color: rgb(134, 3, 3);
}