.body-diccionario{
    background-image:url("../img/dicfondo3.png");
    min-height: 100vh;  

}

.language{
    margin-top: 6%;
}

.form-groupo{
    position: absolute;
    top: 50%;
    left: 20%;           
    margin-top: -40%;
    margin-left: -50%;
    display: flex;
    flex-wrap: wrap;  
    width: 500px;
    height: 300px;
    /*background-color: #d0d0d5;*/
    /*background-color: #aed87df1;*/
    background-color: #f8adad;
    padding: 5%;
    border-radius: 26px;
    text-align: center;   
}

.contenedor-busqueda {
    width: 49%;
    height: 120px;
    background-color: #fff;
    padding: 8px 15px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px; 
    border: 2px solid #003047;   
    margin: 1%;
}

.buscar-input {
    margin-top:19px ;
    margin-left:-4%;
}


.contenedor-idioma {
    width: 46%;
    height: 120px;
    margin: 1%;
    padding: 6%;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 15px;
    outline: none;
    background: #fff;
    color: #fff;
    text-transform: capitalize;
    border: 2px solid #003047;
}


.boton-busqueda{
    cursor: pointer;
    background-color: #198754;
    border-color: #198754;
    color: #fff;
    display: inline-block;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    outline: none;
    text-transform: capitalize;
    margin: 5%;

    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contenedor-respuesta {
    width: 100%;
    min-height: 50%;
    margin:1%;
    font-size: 25px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 15px;
    border: 2px solid #003047;
    outline: none;   
}