.row{
    margin:0;
}

.help {
    background-image: url("../img/wordle_fondo.jpg");
    text-align: center;
    min-height: 100vh;  
}

.instrucciones{
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
}

.opciones{
    margin: 3%;
    padding: 3%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgba(129, 126, 126, 0.815);;
    text-align: center;
    color: black;
    width: 100%;
}

.solucion{
    top: 40%;
    width: auto;
}

form{
    top: 40%;
    width: 25%;
    height: auto;
}

label{
    color:rgb(3, 3, 3);
    text-decoration: underline;
    text-transform: uppercase;
}

img{
    margin-top: 15%;
    display: block;
    height: auto;
    max-width: 300%;
    width: 100%;
}




* {box-sizing: border-box;}



ul {
  position: absolute;
  overflow: scroll;
  top: 20%;
  max-height: 70%;
  width: 20%;
  border: 2px solid #ccc;
  
  font-size: 16px;
  font-family: Arial, sans-serif;
  
  -webkit-overflow-scrolling: touch;

margin-left:-3%;

  text-align: center;
  color: black;

  background-color: white;
}

li {
  padding: 10px 20px;
  
  border-bottom: 1px solid #ccc;
  
  &:last-child {
    border-bottom: none;
  }
  
  &:nth-child(even) {
    background: #f8f8f8;
  }
}