.Home {
  text-align: center;
  background-image: url("../img/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navGeneral{
  background-color: rgba(0, 0, 0, 0.596);
}


