.fondo-diccionario{
    background-image:url("./../../img/dicfondo3.png");
    min-height: 100vh;  
}
.body-diccionario{
    background-image:url("./../../img/dicfondo3.png");
    min-height: 460px;
}

label{
    padding: 0;
}

.language{
    margin-top: 6%;
}

.form-groupo{
    position: absolute;
    top: 40%;
    left: 45%;           
    margin-top: -40%;
    margin-left: -50%;
    display: flex;
    flex-wrap: wrap;  
    width: 500px;
    height: 300px;
    /*background-color: #d0d0d5;*/
    /*background-color: #aed87df1;*/
    background-color: rgb(248, 173, 173);
    padding: 1%;
    border-radius: 26px;
    text-align: center;   
    margin: 5% ;
    transform: translate(-50%, -50%);    
}

.contenedor-busqueda {
    width: 49%;
    height: 120px;
    background-color: #fff;
    padding: 8px 15px 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px; 
    border: 2px solid #003047;   
    margin: 1%;
}

.buscar-input {
    margin-top:19px ;
    margin-left:-4%;
    width: 100%;
    font-size: 15px;
}


.contenedor-idioma {
    width: 46%;
    height: 120px;
    margin: 1%;
    padding: 6%;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 15px;
    outline: none;
    background: #fff;
    color: #fff;
    text-transform: capitalize;
    border: 2px solid #003047;
}


.boton-busqueda{
    cursor: pointer;
    background-color: #198754;
    border-color: #198754;
    color: #fff;
    display: inline-block;
    font-family: Roboto, sans-serif;
    border-radius: 15px;
    outline: none;
    text-transform: capitalize;
    margin: 5%;

    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contenedor-respuesta {
    overflow-y: scroll;
    height: auto;
    min-height: 6em;
    max-height: 9em;
    width: 100%;
    margin:1%;
    font-size: 15px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border: 2px solid #003047;
    outline: none;   
}

.scrollbar-lady-lips::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-lady-lips::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-lady-lips::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
    to(#fecfef));
    background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.scrollbar-lady-lips {
    scrollbar-color: #ff9a9e #F5F5F5;
}